<ion-header no-border>
  <ion-toolbar>
      <ion-buttons color="primary">
          <ion-button routerDirection="back" routerLink="/login">
            <ion-icon  color="primary" name="arrow-back" slot="start"></ion-icon>
            <ion-text color="primary">Login</ion-text>
          </ion-button>
        </ion-buttons>
    <ion-title>Parcee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 text-center>
    <ion-text color="primary">
      Send Password Reset Email
    </ion-text>
  </h2>
  <ion-item>
    <ion-label color="primary" position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
</ion-content>