<ion-header>
  <ion-toolbar>
    <ion-title>Plans</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-plan">Add Plan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-list-header>December</ion-list-header>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
    <ion-list-header>January</ion-list-header>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fri, Dec 25th 7:00 PM</ion-label>
    </ion-item>
  </ion-list>

</ion-content>