<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/plans"></ion-back-button>
    </ion-buttons>
    <ion-title>Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="addActivity()">Add Activity</ion-button>

  <ion-reorder-group *ngIf="plan" (ionItemReorder)="reorderItems($event)" disabled="false">
    <ion-item *ngFor="let activity of activities">
      <ion-label class="ion-text-wrap" (click)="viewNotes(activity)">
        {{ activity.name }}
        <p> {{ activity.duration }} minutes - {{ (activity.startTime) ? activity.startTime  : "No Start Time"}}</p>
      </ion-label>
      <ion-label>
        <p (click)="editActivity(activity)">Edit</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="dark">
          <ion-reorder slot="end"></ion-reorder>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-reorder-group>
</ion-content>